.button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 77px;
  border-radius: 38px;
}

/* green button*/
.button--try {
  color: #4085f6;
  background-color: #ffffff;
  border: 2px solid white;
  color: #4085f6;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.92px;
  font-family: "Montserrat", "Arial", sans-serif;

  &:hover {
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
  }
}

.button--app-store,
.button--play-store {
  background-color: black;
  color: white;
  border: 2px solid black;
  &:hover {
    background-color: #1d72fe;
    color: black;
    border: 2px solid white;
  }
}
