.main {
  font: 400 14px "Oswald", "Arial", sans-serif;
  line-height: 18px;
  color: #444444;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.main__container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FEB930;
  background: url("../../img/background_Defence.png");
}

//планшетная версия
@media (min-width: 768px) {
  .main {
    width: 100%;
  }
}

//десктопная версия
@media (min-width: 1300px) {
  .main {
    width: 100%;
  }
}
