.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.header__container {
  position: relative;
}

.navigation__item--active {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.08px;
}

.navigation__item-link {
  font-family: "Poppins", "Arial", sans-serif;
}

@media (max-width: 767px) {
  .navigation__toggle {
    position: absolute;
    top: 18px;
    right: 18px;
    z-index: 2;

    display: block;
    width: 28px;
    height: 24px;

    background-color: white;

    cursor: pointer;
    border: none;

    background-color: #2f76e9;
  }

  .navigation--closed .navigation__toggle::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 2px;

    width: 24px;
    height: 3px;

    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }

  .navigation--closed .navigation__toggle:active::before {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3),
      0 16px 0 0 rgba(255, 255, 255, 0.3);
  }

  .navigation--opened .navigation__toggle {
    top: 25px;
    right: 18px;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 5px;
      left: 2px;
      width: 24px;
      height: 3px;
      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  .navigation__wrapper {
    width: 100%;
  }

  .navigation__list {
    width: 100%;
    margin: 0;
  }

  .navigation__item {
    width: 100%;
    min-width: 280px;
    min-height: 65px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #d9d9d9;
  }

  .navigation__item-link {
    color: #262626;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.08px;
    color: #4085f6;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      color: #1d72fe;
    }
  }

  .navigation--closed .navigation__item {
    display: none;
  }

  .navigation--nojs .navigation__toggle {
    display: none;
  }

  .navigation--nojs .navigation__item {
    display: flex;
  }
}

@media (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: flex-end;
    max-width: 100%;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__wrapper {
    margin: 0 auto;
  }

  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 7px;
    justify-content: center;
  }

  .navigation__item {
    margin: 0;
    margin-left: 35px;
    padding-bottom: 10px;
  }

  .navigation__item:first-of-type {
    margin-left: 0;
  }

  .navigation__item-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.86px;
    text-transform: none;
    letter-spacing: -0.56px;
    color: white;

    &:hover {
      opacity: 0.6;
    }
  }
  .navigation__item--active {
    color: white;
  }
}
