.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 184px;
  max-width: 560px;
  border: 1px solid #e6e6e6;
  position: relative;
  padding-top: 60px;
  margin-top: 100px;
  background-color: #4085f6;
}
.post-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.post_image-container {
  position: absolute;
  top: -60px;
}
.post-image {
  border: 1px solid white;
  border-radius: 50%;
  border: 1px solid white;
  height: 118px;
  width: 118px;
}
.post-title {
  font-family: "Montserrat", "Arial", sans-serif;
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.post-position {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.post-text {
  font-family: "Poppins", "Arial", sans-serif;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

@media (min-width: 1300px) {
.post{
  width: 45%;
}
}