.slider {
  width: 100%;
  position: relative;
  margin: auto;
  min-height: 183px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.slider_container {
  background-color: #1d72fe;
  width: 100%;
}
.slider-title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat-SemiBold", "Arial", sans-serif;
}
.item__image {
  object-fit: cover;
  width: auto;
  flex-grow: 1;
  height: 200px;
  border: none !important;
  box-shadow: none !important;
}
.slider-dots {
  text-align: center;
  bottom: 13px;
  margin: 0 auto;
  margin-top: 30px;
}
.slider-dots_item {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 3px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.activeSlider,
.slider-dots_item:hover {
  background-color: #aaa;
}

.swipe-left {
  animation-name: swipeleft;
  animation-duration: 1.5s;
}
.swipe-right {
  animation-name: swiperight;
  animation-duration: 1.5s;
}

@keyframes swipeleft {
  from {
    opacity: 1;
    transform: translate(0px, 0);
  }
  to {
    opacity: 0.4;
    transform: translate(-70px, 0);
  }
}
@keyframes swiperight {
  from {
    opacity: 0.4;
    transform: translate(70px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0);
  }
}
@media (min-width: 768px) {
  .slider {
    align-items: center;
  }
}
@media (min-width: 1300px) {
  .slider{
    background-color:#4085f6 ;
  }
.slider_container{
  background-color: white;
}
}