@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Montserrat-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Poppins-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
}