html {
}
body {
  width: auto;
  margin: 0 auto;
  background: white;
  position: relative;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.figure {
  display: none;
}

@media (min-width: 1300px) {
  .figure {
    display: flex;
    background-color: #1d72fe;
    position: absolute;
    width: 344px;
    height: 343px;
    z-index: -2;
  }

  .figure--romb {
    border-radius: 10%;
    z-index: -2;
    transform: rotate(-31deg);
    top: 175px;
    left: 623px;
  }
  .figure--ball {
    border-radius: 50%;
    top: 132px;
    left: 895px;
  }
}
.main{
  min-width: 320px;
}