html{
 
}
body {
  width: auto;
  margin: 0 auto;
  background: white;
 position: relative;
 background-color: #1d72fe;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.romb{
  position: absolute;
width: 3474px;
height: 3493px;
  border-radius: 10%;
  background-color: #1d72fe;
  z-index: -2;
  transform: rotate(-45deg);
  top: -2500px;
}
