html {
}
body {
  width: auto;
  margin: 0 auto;
  background: white;
  position: relative;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.figure {
  display: none;
}

@media (min-width: 1300px) {
  body {
    background: url(../img/bg-rownd.png) 1190px -263px no-repeat,
      url(../img/bg-ellipse.png) 822px 816px no-repeat,
      url(../img/bg-firstromb.png) -693px -2496px no-repeat;
  }
}
.main {
  min-width: 320px;
}
